<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atandroidlabs.weather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/weather_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/weather_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SorryNoInternet" android:screenOrientation="portrait"/>
        <activity android:name=".SearchCityActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CityChangeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainWeatherActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>